/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* color*/
:root {
  --main-black: #000000;
  --main-black-03: rgba(0, 0, 0, 0.3);

  --main-white: #ffffff;
  --white-3: rgba(255, 255, 255, 0.3);
  --white-9: rgba(255, 255, 255, 0.9);

  --secondary-grey: #f2f2f2;
  --main-grey: #eeeeee;
  --dark-grey: #333333;
  --light-grey: #cacaca;
  --super-gray: #bdbbbc;
  --dull-grey: #666666;
  --grey-02: rgba(0, 1, 1, 0.2);
  --grey-015: #rgba(0, 1, 1, 0.15);
  --smoky-grey: #ebebeb;
  --basic-grey: #e5e5e5;
  --aluminum-grey: #ababab;
  --aluminum-grey-03: rgba(171, 171, 171, 0.3);
  --new-grey: #a9a9a9;

  --main-blue: #81b3d2;
  --secondory-blue: #669ec0;
  --dark-blue: #5496bd;
  --bright-blue: #23a9e1;

  --main-brown: #766357;
  --moderate-brown: #604e43;
  --secondary-brown: #503e33;
}

.page {
  height: 100%;
}

.page-body {
  max-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--main-black);
  text-transform: uppercase;
  box-shadow: 0 5px 15px var(--grey-02);
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  position: relative;
}

/* header menu*/
.main-header {
  position: relative;
}

.main-header__nav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  margin: 0;
}

.main-header__nav-item {
  width: 25%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
}

.nav__item-map,
.nav__item-hotels {
  text-align: right;
}

.nav__item-info a {
  margin-left: 72px;
}

.nav__item-hotels a {
  margin-right: 72px;
}

.current-page {
  color: var(--main-brown);
}

.main-header__nav-item a {
  color: inherit;
  text-decoration: none;
}

.main-header__nav-item a:hover {
  color: var(--main-blue);
  text-decoration: none;
}

.main-header__nav-item a:active {
  color: var(--main-black-03);
  text-decoration: none;
}

.main-header__nav-item a:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

/* logo */
.main-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
  width: 138px;
  height: 70px;
}

.logo-focus a:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

.features__img-main {
  width: 100%;
  height: 509px;
  background-color: var(--main-grey);
  background-repeat: no-repeat;
  background-image: url("../img/Shape.png"), url("../img/welcome.png"), url("../img/bg__photo.jpg");
  background-position: bottom, center, center;
  margin: 1px 0 0;
}

.features__slogan {
  text-align: center;
  padding: 40px 200px 22px;
}

.features__slogan-main {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 45px;
}

.features__slogan-secondary {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--dark-grey);
  margin: 0 0 30px 0;
}

/*features__list */
.features__list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  width: calc(100% / 3);
  box-sizing: border-box;
}

.features__title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
}

.features__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.features__subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.features__item-middle {
  background-color: var(--main-blue);
  padding: 50px 40px 20px;
}

.features__item-middle .features__title,
.features__item-middle .features__number,
.features__item-middle .features__subtitle {
  color: var(--main-white);
  margin: 0 0 25px 0;
}

.features__img-middle {
  width: calc(100% / 1.5);
  min-height: 256px;
  background-color: var(--main-blue);
}

.img-first {
  width: 100%;
  height: 100%;
  background-image: url("../img/house.jpg");
  background-size: cover;
}

.img-second {
  width: 100%;
  height: 100%;
  background-image: url("../img/bridge.jpg");
  background-size: cover;
}

.features__recommendation {
  position: relative;
  padding: 158px 50px 60px;
}

.features__recommendation .features__title,
.features__recommendation .features__number,
.features__recommendation .features__subtitle {
  margin: 0 0 25px 0;
}

.features__icon {
  position: absolute;
  top: 55px;
  left: 163px;
  width: 75px;
  min-height: 77px;
  background-repeat: no-repeat;
}

.icon-house {
  background-image: url(../img/icon_house.svg);
}

.icon-burger {
  background-image: url(../img/icon_burger.svg);
}

.icon-gift {
  background-image: url(../img/icon_gift.svg);
}

.features__item-small {
  background-color: var(--main-grey);
  padding: 45px 40px 30px;
}

.features__item-small .features__title,
.features__item-small .features__number,
.features__item-small .features__subtitle {
  margin: 0 0 28px 0;
}

.features__item-small .features__number {
  margin: 0 0 25px 0;
}

/*search*/
.search {
  text-align: center;
}

.search__header {
  padding: 51px 350px 125px;
}

.search__title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  margin: 0 auto 35px;
}

.search__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: inherit;
  margin: 0 auto;
}

/* map */
.search__map {
  background-color: var(--main-grey);
}

/* footer-index*/
.page-footer-index {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--white-9);
  padding: 17px 57px;
}

.page-footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.page-footer__contacts {
  flex-direction: column;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.page-footer__contacts-link {
  margin: 0 0 12px 0;
}

.page-footer__contacts-tel {
  margin: 0 0 17px 0;
}

.page-footer__contacts a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.page-footer__contacts a:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

.page-footer__social-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.page-footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  min-height: 48px;
  background-color: var(--main-blue);
  margin: 0 6px 6px 0;
}

.page-footer__button:hover {
  background-color: var(--secondory-blue);
}

.page-footer__button:active {
  background-color: var(--dark-blue);
  fill-opacity: 0.3;
}

.page-footer__button:focus {
  outline: 1px var(--secondary-brown) dotted;
}

.page-footer__copy-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.page-footer__copy-text p {
  margin-right: 10px;
}

.page-footer__copy-text path {
  fill: var(--main-black);
}

.page-footer__copy-text:hover path {
  fill: var(--main-blue);
}

.page-footer__copy-text:active path {
  fill: var(--new-grey);
}

.page-footer__copy-text:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

/* catalog */
.filter__img-muddy {
  background-image: url(../img/bg_catalog.jpg);
  background-repeat: no-repeat;
  background-color: var(--main-blue);
  background-size: cover;
}

.filter__form {
  display: grid;
  grid-template-columns: 220px 220px 1fr 315px;
  gap: 30px;
  color: var(--main-white);
  padding: 27px 72px 7px;
}

.filter__options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__options-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 0 13px 4px;
  margin: 0 0 13px 0;
}

.filter-option label {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 0 25px 38px;
  user-select: none;
}

.filter__checkbox:focus ~ label {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
}

.filter__checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  width: 23px;
  min-height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-position: 0 0;
}

.filter__checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__checkbox:checked:disabled + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  width: 27px;
  min-height: 23px;
  background-image: url("../img/checkbox-on-checked-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__options-range {
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.filter__options-range .filter__options-name {
  padding: 0;
}

.filter__rublescount {
  display: flex;
  flex-wrap: nowrap;
  width: 313px;
  background-color: transparent;
  border: 2px var(--main-white) solid;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.filter__rublescount label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-white);
  text-align: center;
  padding: 5px 5px 5px 30px;
}

.filter__rublescount input {
  width: 40%;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-white);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.filter__rublecount-separation {
  width: 2px;
  min-height: 22px;
  background-color: var(--main-white);
  margin: 5px auto;
}

.filter__range {
  position: relative;
  width: 326px;
}

.filter__controls {
  padding: 10px;
}

.filter__price-scale {
  min-height: 2px;
  background-color: var(--white-3);
  margin-bottom: 23px;
}

.filter__price-bar {
  width: 80%;
  height: 2px;
  background-color: var(--main-white);
}

.toggle {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--aluminum-grey);
  border: 8px var(--main-white) solid;
  box-shadow: 0 2px 0 var(--aluminum-grey-03);
  box-sizing: border-box;
}

.toggle-min {
  top: 0;
  left: 0;
}

.toggle-min:hover {
  top: -1px;
  left: -1px;
  width: 21px;
  height: 21px;
  border-width: 9px;
}

.toggle-max {
  top: 0;
  left: 250px;
}

.toggle-max:hover {
  top: -1px;
  left: 249px;
  width: 21px;
  height: 21px;
  border-width: 9px;
}

.filter__button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-white);
  text-transform: inherit;
  background-color: transparent;
  border: 2px var(--main-white) solid;
  border-radius: 2px;
  padding: 6px 35px;
  margin: 0 0 0 83px;
  outline: none;
}

.filter__button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.filter__button:focus {
  border-color: var(--main-blue);
}

/*sort*/
.sort {
  display: grid;
  grid-template-columns: 135px 80px 1fr 120px;
  column-gap: 30px;
  margin: 30px 72px 39px;
}

.sort__item-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 0 15px 0;
}

.sort__item-title {
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 0 15px 0;
}

.sort__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;
}

.sort__item {
  grid-column: 1 / 2;
  margin-right: 20px;
}

.sort__button {
  color: var(--main-black-03);
  text-decoration: underline;
  text-transform: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

.sort__button:hover {
  color: var(--main-blue);
  text-decoration: underline;
}

.sort__button:active {
  color: var(--main-black);
  text-decoration: none;
}

.sort__button:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

.current-button {
  color: var(--main-blue);
  text-decoration: none;
}

/*toggle*/
.sort__item-toggle {
  grid-column: 4 / 5;
  text-align: right;
}

.sort-toggle {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0 3px;
}

.sort__item-toggle path {
  fill: var(--light-grey);
}

.sort__item-toggle path:hover {
  fill: var(--main-black);
}

.sort__item-toggle path:active {
  fill: var(--main-blue);
}

.current-toggle path {
  fill: var(--main-blue);
}

.sort-toggle:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

/*hotellist*/
.hotellist {
  padding: 0 72px;
}

.hotellist__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotellist__item {
  display: grid;
  grid-template-columns: min-content auto min-content;
  column-gap: 30px;
  margin-bottom: 55px;
}

.hotellist__item:last-child {
  margin-bottom: 0;
}

.hotel-item__img,
.motel-item__img,
.apartment-item__img {
  width: 135px;
  height: 90px;
  background-color: var(--main-blue);
  background-size: cover;
  margin-top: 7px;
}

.hotellist__naming {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: 1fr 35px 28px;
  column-gap: 4px;
}

.hotellist__naming-title {
  grid-column: 1 / -1;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.hotellist__naming-title:hover {
  color: var(--main-blue);
}

.hotellist__naming-title:active {
  color: var(--main-black-03);
}

.hotellist__naming-title:focus {
  outline: 1px var(--bright-blue) dotted;
  border: none;
}

.hotellist__naming-type {
  grid-column: 1 / 2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.hotellist__naming-price {
  grid-column: 2 / 3;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.button {
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  text-transform: inherit;
  box-sizing: border-box;
  outline: none;
  padding: 2px 16px;
}

.button-details {
  grid-column: 1 / 2;
  background-color: var(--main-blue);
  border: 1px var(--main-blue) dotted;
}

.button-details:hover {
  background-color: var(--secondory-blue);
  border-color: var(--secondory-blue);
}

.button-details:active {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  color: var(--white-3);
}

.button-details:focus {
  border-color: var(--secondary-brown);
}

.button-booking {
  grid-column: 2 / 3;
  background-color: var(--main-brown);
  border: 1px var(--main-brown) dotted;
}

.button-booking:hover {
  background-color: var(--moderate-brown);
  border-color: var(--moderate-brown);
}

.button-booking:active {
  background-color: var(--secondary-brown);
  border-color: var(--secondary-brown);
  color: var(--white-3);
}

.button-booking:focus {
  border-color: var(--bright-blue);
}

/*rating*/
.hotellist__rating {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: 1fr 1fr 27px;
  column-gap: 5px;
  color: var(--dull-grey);
}

.hotellist__rating-stars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 5px;
}

.hotellist__rating-stars svg {
  margin-left: 5px;
}

.hotellist__rating-sum {
  grid-row: 3 / 4;
  background-color: var(--secondary-grey);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 3px 16px;
  margin-left: 5px;
}

/* footer-hotels*/
.page-footer-hotels {
  display: flex;
  align-items: center;
  background-color: var(--white-9);
  padding: 17px 55px 25px;
  margin: 33px 0 0 0;
}

/*modal*/
.search__modal {
  position: absolute;
  /* width: 570px; */
  left: calc(50% - 282px);
  bottom: 194px;
  text-align: center;
  background-color: var(--main-white);
  box-shadow: 0px 7px 15px var(--grey-015);
  padding-bottom: 60px;
}

/*modal__button -1*/
.modal__button-description {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--main-white);
  text-transform: inherit;
  background-color: var(--main-brown);
  border: 2px var(--main-brown) solid;
  padding: 29px 10px;
}

.modal__button-description:hover {
  background-color: var(--moderate-brown);
  border-color: var(--moderate-brown);
}

.modal__button-description:active {
  background-color: var(--secondary-brown);
  border-color: var(--secondary-brown);
  color: var(--white-3);
}

.modal__button-description:focus {
  border: 2px var(--bright-blue) dotted;
  outline: none;
}

/*search__wrapper*/
.search__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 114px);
  row-gap: 30px;
  align-items: center;
  color: var(--main-black);
  padding: 55px;
}

.search-arrival,
.search-departure {
  position: relative;
}

.search-arrival {
  grid-column: 2 / 5;
 }

.search-departure {
  grid-column: 2 / 5;
}

.search__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.search__label:nth-of-type(4) {
  text-align: center;
}

.search__total {
  display: flex;
  align-items: center;
  background-color: var(--secondary-grey);
  border: 2px var(--secondary-grey) solid;
}

.search__total-adults {
  grid-column: 2 / 3;
}

.search__input {
  width: 100%;
  min-width: 0; /*для firefox*/
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: var(--secondary-grey);
  padding: 5px 34px 5px 11px;
}

.search__input-small {
  text-align: center;
  padding: 6px;
}

.search__input:hover {
  background-color: var(--smoky-grey);
}

.search__input:focus {
  background-color: var(--main-white);
  outline: 2px var(--basic-grey) solid;
}

/*calendar*/
.search__calendar {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: transparent;
  border: none;
  outline: none;
}

.search__calendar:hover path {
  fill: var(--main-black);
}

.search__calendar:active path {
  fill: var(--main-blue);
}

.search__rectangle,
.search__union {
  font-size: 30px;
  font-weight: 700;
  color: var(--new-grey);
  outline: none;
  border: none;
  background-color: transparent;
}

.search__rectangle:hover,
.search__union:hover {
  color: var(--main-black);
}

.search__rectangle:active,
.search__union:active  {
  color: var(--main-blue);
}

.search__calendar:focus,
.search__rectangle:focus,
.search__union:focus {
  outline: 1px var(--bright-blue) dotted;
}

/*modal__button -2*/
.modal__button-search {
  width: 460px;
  line-height: 26px;
  font-weight: 700;
  color: var(--main-white);
  text-transform: inherit;
  text-align: center;
  background-color: var(--main-blue);
  outline: none;
  border: 1px var(--main-blue) solid;
  padding: 15px 0;
}

.modal__button-search:hover {
  background-color: var(--secondory-blue);
  border-color: var(--secondory-blue);
}

.modal__button-search:active {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  color: var(--white-3);
}

.modal__button-search:focus {
  border: 1px var(--dull-grey) dotted;
}
