/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* color*/
:root {
  --main-black: #000000;
  --main-black-3: rgba(0, 0, 0, 0.3);

  --main-white: #ffffff;
  --white-3: rgba(255, 255, 255, 0.3);
  --aluminum-white: #ababab; /* возможно, не нужен */

  --light-grey: #f2f2f2;
  --secondary-grey: #eeeeee;
  --transparent-grey-9: rgba(255, 255, 255, 0.9);
  --dark-grey: #333333;
  --light-telegrey: #cacaca;
  --super-gray: #bdbbbc;
  --dull-grey: #666666;
  --shadow-grey: rgba(0, 1, 1, 0.2);
  --cloudy-grey: #6a6a6a;

  --main-blue: #81b3d2;
  --secondory-blue: #669ec0;
  --dark-blue: #5496bd;

  --main-brown: #766357;
  --moderate-brown: #604e43;
  --brownish-brown: #503e33;
}

.page {
  height: 100%;
}

.page-body {
  max-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--main-black);
  text-transform: uppercase;
  box-shadow: 0 5px 15px var(--shadow-grey);
  font-weight: 400;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.main-wrapper {
  position: relative;
  background-color: var(--main-white);
}

/* header menu*/
.main-header {
  position: relative;
}

.main-header__nav {
  padding: 0 73px;
}

.main-header__nav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0;
  margin: 0;
}

.main-header__nav-item {
  width: 25%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
}

.nav__item-photos {
}

.nav__item-map,
.nav__item-hotels {
  text-align: right;
}

.nav__item-map {
}

.current-page {
  color: var(--main-brown);
  text-decoration: none;
}

.main-header__nav-item .link:hover {
  color: var(--main-blue);
  text-decoration: none;
}

.main-header__nav-item .link:active {
  color: var(--main-black-3);
  text-decoration: none;
}

/* logo */
.main-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
  width: 138px;
  height: 70px;
}

.features__img-main {
  height: 508px;
  background-color: var(--main-blue);
  background-repeat: no-repeat;
  background-image: url("../img/Shape.png"), url("../img/welcome.png"), url("../img/bg__photo.jpg");
  background-position: bottom, center, center;
  background-size: 1200px 58px, 457px 351px, 1200px 508px;
  margin: 0 0 0;
}

.features__slogan {
  text-align: center;
  padding: 38px 355px 20px;
}

.features__slogan-main {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 40px;
}

.features__slogan-secondary {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--dark-grey);
  margin: 0 0 30px 0;
}

/*features__list */
.features__list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  width: calc(100% / 3);
  box-sizing: border-box;
}

.features__title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.features__subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.features__item-middle {
  background-color: var(--main-blue);
  padding: 50px 40px 20px;
}

.features__item-middle .features__title,
.features__item-middle .features__number,
.features__item-middle .features__subtitle {
  color: var(--main-white);
  margin: 0 0 25px 0;
}

.features__img-middle {
  width: calc(100% / 1.5);
  height: 256px;
  background-color: var(--main-blue);
}

.img-first {
  width: 100%;
  background-image: url("../img/house.jpg");
}

.img-second {
  width: 100%;
  background-image: url("../img/bridge.jpg");
}

.features__recommendation {
  position: relative;
  padding: 155px 50px 50px;
}

.features__recommendation .features__title,
.features__recommendation .features__number,
.features__recommendation .features__subtitle {
  margin: 0 0 25px 0;
}

.features__icon {
  position: absolute;
  top: 55px;
  left: 163px;
  width: 75px;
  height: 77px;
  background-repeat: no-repeat;
}

.icon-house {
  background-image: url(../img/icon_house.svg);
}

.icon-burger {
  background-image: url(../img/icon_burger.svg);
}

.icon-gift {
  background-image: url(../img/icon_gift.svg);
}

.features__item-small {
  background-color: var(--secondary-grey);
  padding: 35px 71px 30px;
}

.features__item-small .features__title,
.features__item-small .features__number,
.features__item-small .features__subtitle {
  margin: 0 0 28px 0;
}

.features__item-small .features__number {
  margin: 0 0 18px 0;
}

/*search*/
.search {
  text-align: center;
}

.search__header {
  padding: 45px 350px 125px;
}

.search__title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto 35px;
}

.search__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
}

/* map */
.search__map {
  height: 593px;
  background-image: url("../img/map.jpg");
  background-color: var(--main-blue);
}

/*todo: search__modal*/
/* .search__modal {
  display: none;
  width: 568px;
  height: 481px;
  color: var(--main-black);
  background-color: var(--main-white);
} */

/* footer */
.page-footer-index {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: var(--transparent-grey-9);
  padding: 50px 0 15px;
}

.page-footer__item {
  width: calc(100% / 3);
  text-align: center;
  margin: 0;
  padding: 0;
}

.page-footer__contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 40px;
}

.page-footer__contacts-link {
  margin: 0 0 10px 0;
}

.page-footer__contacts-tel {
  margin: 0;
}

.page-footer__copy-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

/* social*/
.page-footer__social-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.page-footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--main-blue);
  margin: 0 8px 0 0;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-item:hover {
  background-color: var(--secondory-blue);
}

.page-footer__social-item:active {
  background-color: var(--dark-blue);
}

.page-footer__social-item:active svg {
  fill: var(--dark-blue);
  fill-opacity: 0.3;
}

.page-footer__copy {
  display: flex;
}

.page-footer__copy-text {
  margin: 10px 10px 10px 50px;
}

.page-footer__copy-icon {
  fill: var(--main-black);
}

.page-footer__copy-icon:hover {
  fill: var(--main-blue);
}

.page-footer__copy-icon:active {
  fill: var(--super-gray);
}

/* catalog */
.filter__img-muddy {
  height: 217px;
  background-image: url(../img/bg_catalog.jpg);
  background-repeat: no-repeat;
  background-color: var(--main-blue);
}

.filter__form {
  display: grid;
  grid-template-columns: 24% 24% 22% 30%;
  color: var(--main-white);
  padding: 25px 73px;
}

.filter__options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__options-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 25px 0;
}

.filter-option label {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 0 25px 38px;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 3px var(--main-white) solid;
  border-radius: 15%;
  box-sizing: border-box;
}

.filter-input-checkbox:disabled + label::before {
  border-color: var(--cloudy-grey);
}

.filter__options-range {
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.filter__options-range .filter__options-name {
  margin: 0 0 15px 0;
}

.filter-disabled {
  /* для заблокированного*/
  color: var(--cloudy-grey);
}

.filter__rublescount {
  display: flex;
  width: 317px;
  color: var(--main-white);
  background-color: transparent;
  border: 2px var(--main-white) solid;
  margin-bottom: 10px;
}

.filter__rublescount-item {
  width: 45%;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 5px;
}

.filter__rublecount-separation {
  width: 2px;
  height: 22px;
  background-color: var(--main-white);
  margin: 5px auto;
}

.filter__range {
  width: 316px;
}

.filter__controls {
  position: relative;
  padding: 10px;
}

.filter__price-scale {
  height: 2px;
  background-color: var(--aluminum-white);
  margin-bottom: 20px;
}

.filter__price-bar {
  width: 85%;
  height: 2px;
  background-color: var(--main-white);
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--aluminum-white);
  border: 8px var(--main-white) solid;
}

.toggle-min {
  left: 5px;
}

.toggle-max {
  left: 250px;
}

.filter__button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-white);
  text-transform: inherit;
  background-color: transparent;
  border: 2px var(--main-white) solid;
  padding: 8px 35px;
  margin: 0 0 0 90px;
}

/*sort*/
.sort {
  padding: 30px 73px;
  margin-bottom: 24px;
}

.sort__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.sort__item {
  list-style: none;
  margin-right: 28px;
}

.sort__item-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 50px;
}

/*toggle*/
.sort__item-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}

.sort__item-toggle svg:first-child {
  margin-right: 10px;
}

.sort__toggle {
  fill: var(--light-telegrey);
}

.sort__toggle:hover {
  fill: var(--main-black);
}

.sort__toggle:active {
  fill: var(--main-blue);
}

.current-toggle {
  fill: var(--main-blue);
}

.sort__button {
  color: var(--main-black-3);
  text-decoration: underline;
  text-transform: inherit;
  border: none;
  background-color: inherit;
  outline: none;
}

.sort__button:hover {
  color: var(--main-blue);
  text-decoration: underline;
}

.sort__button:active {
  color: var(--main-black);
  text-decoration: none;
}

.current-button {
  color: var(--main-blue);
  text-decoration: none;
}

/*hotellist*/
.hotellist {
  padding: 0 73px;
}

.hotellist__items {
  padding: 0;
  margin: 0;
}

.hotellist__item {
  display: grid;
  grid-template-columns: 135px auto 120px;
  column-gap: 30px;
  margin-bottom: 60px;
}

.hotellist__item:last-child {
  margin-bottom: 0;
}

.hotel-item__img,
.motel-item__img,
.apartment-item__img {
  width: 100%;
  /* height: 90px; */
  background-color: var(--main-blue);
}

.hotellist__naming {
  display: grid;
  grid-template-columns: 110px 140px auto;
  column-gap: 6px;
}

.hotellist__naming-title {
  grid-column: 1 / -1;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
}

.hotellist__naming-title:active {
  color: var(--main-black-3);
}

.hotellist__naming-type {
  grid-column: 1 / 2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.hotellist__naming-price {
  grid-column: 2 / 3;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey);
}

.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  text-transform: inherit;
  outline: none;
  border: none;
  padding: 2px 16px;
}

.button-details {
  grid-column: 1 / 2;
  background-color: var(--main-blue);
}

.button-details:hover {
  background-color: var(--secondory-blue);
}

.button-details:active {
  background-color: var(--dark-blue);
  color: var(--white-3);
}

.button-booking {
  grid-column: 2 / 3;
  background-color: var(--main-brown);
}

.button-booking:hover {
  background-color: var(--moderate-brown);
}

.button-booking:active {
  background-color: var(--brownish-brown);
  color: var(--white-3);
}

.hotellist__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--dull-grey);
}

.hotellist__rating svg {
  margin-top: 5px;
}

.hotellist__rating-sum {
  background-color: var(--light-grey);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 3px 14px;
  margin-top: 40px;
}

.rating-disabled {
  visibility: hidden;
}

.page-footer-hotels {
  display: flex;
  align-items: center;
  background-color: var(--transparent-grey-9);
  padding: 50px 0 20px;
}

/*modal*/
.search__modal {
  position: absolute;
  left: 310px;
  bottom: 200px;
  width: 570px;
  height: 480px;
}
